/* 
-----------------------------------------------
    COLORS
-----------------------------------------------
*/

:root {
    --primary-color: #022b43;
    --secondary-color: #db8c59;
    --section-padding: 65px;
}


/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: proxima-nova, sans-serif;
}


/* 
-----------------------------------------------
    GRID / LAYOUT
-----------------------------------------------
*/

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.bordered-grid {
    border: 7px solid var(--primary-color);
    padding: 15px;
    grid-column-gap: 5px;
}

p+p {
    margin-top: 40px;
}

h2 {
    color: inherit;
    text-transform: uppercase;
    font-size: 54px;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

a {
    color: inherit;
    text-decoration: none;
}

.border-button {
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: #FFF;
    display: inline-block;
    float: right;
    padding: 28px 40px;
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}

img {
    max-width: 100%;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/

header {
    position: absolute;
    top: 32px;
    width: 100%;
    left: 0;
    padding-top: 35px;
}

body:not(.home) header {
    position: static;
}

header .logo-wrapper {
    text-align: center;
}

#site-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#site-navigation ul li {
    display: inline-block;
}

#site-navigation ul li:not(:last-of-type) {
    margin-right: 30px;
}

#site-navigation ul li a {
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

#site-navigation ul li a:before,
#site-navigation ul li a:after {
    content: "";
    border-bottom: 1px solid #FFF;
    width: 20px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

#site-navigation ul li.current-menu-item a,
#site-navigation ul li:hover a {
    color: var(--secondary-color);
}

#site-navigation ul li.current-menu-item a:before,
#site-navigation ul li.current-menu-item a:after,
#site-navigation ul li:hover a:before,
#site-navigation ul li:hover a:after {
    opacity: 1;
}

#site-navigation ul li a:before {
    margin-right: 12px;
}

#site-navigation ul li a:after {
    margin-left: 12px;
}

header .logo-wrapper img {
    max-width: 120px;
}


/* 
-----------------------------------------------
    SOCIAL MEDIA
-----------------------------------------------
*/

.social-media {
    text-align: center;
    width: 100%;
}

body:not(.home) .social-media {
    padding-top: 46px;
}

.social-media {
    padding-bottom: 46px;
}

#menu-social-media li {
    display: inline-block;
}

#menu-social-media li:not(:last-of-type) {
    margin-right: 72px;
}

#menu-social-media li a:before {
    content: "";
    width: 33px;
    height: 33px;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center center;
    display: inline-block;
    margin-right: 12px;
}

#menu-social-media li a {
    font-size: 18px;
}

#menu-social-media li.ig a:before {
    /* Placeholder */
    background-image: url("/bar/wp-content/uploads/2019/12/woocommerce-placeholder.png");
}

#menu-social-media li.fb a:before {
    /* Placeholder */
    background-image: url("/bar/wp-content/uploads/2019/12/woocommerce-placeholder.png");
}

.home #menu-social-media li.ig a:before {
    /* Placeholder */
    background-image: url("/bar/wp-content/uploads/2019/12/woocommerce-placeholder.png");
}

.home #menu-social-media li.fb a:before {
    /* Placeholder */
    background-image: url("/bar/wp-content/uploads/2019/12/woocommerce-placeholder.png");
}

.home #menu-social-media li a {
    color: var(--primary-color);
}

#menu-social-media li a {
    color: #FFF;
}


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/

footer {
    background-color: var(--secondary-color);
    padding-top: 30px;
    padding-bottom: 30px;
    color: #FFF;
}


/* 
-----------------------------------------------
    SECTION: INTRODUCTION @ Frontpage
-----------------------------------------------
*/

.introduction-section {
    height: 100vh;
    background-color: black;
    /* temp */
}


/* 
-----------------------------------------------
    SECTION: EVENTS @FRONTPAGE, EVENTS
-----------------------------------------------
*/

.events-section {
    background-color: var(--primary-color);
    color: white;
    padding-top: 77px;
    padding-bottom: 95px;
}

.events-section .border-button {
    background-color: white;
    color: var(--primary-color);
}

.events-section h2 {
    margin-bottom: 30px;
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 38px;
}

.event-item {
    text-align: center;
    height: 356px;
}

.event-item .event-wrapper,
.event-item .event-wrapper .event-bg-image {
    height: 100%;
}

.event-item .event-wrapper .event-bg-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.event-item .event-wrapper .event-bg-image:before {
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: black;
    pointer-events: none;
    opacity: 0.2;
    content: "";
    left: 0;
    top: 0;
    z-index: 1;
}

.event-item .event-wrapper .event-bg-image .event-content-wrapper {
    position: absolute;
    z-index: 2;
    bottom: 75px;
    width: 100%;
    text-align: center;
}

.event-item .event-wrapper .event-bg-image .event-content-wrapper h3,
.event-item .event-wrapper .event-bg-image .event-content-wrapper h4,
.event-item .event-wrapper .event-bg-image .event-content-wrapper p {
    text-transform: uppercase;
}

.event-item .event-wrapper .event-bg-image .event-content-wrapper h3 {
    font-size: 36px;
}

.event-item .event-wrapper .event-bg-image .event-content-wrapper h4 {
    font-size: 20px;
    font-weight: normal;
}

.event-item .event-wrapper .event-bg-image .event-content-wrapper p {
    font-size: 32px;
    font-weight: bold;
}


/* 
-----------------------------------------------
    SECTION: WEEKLY DEAL @ Frontpage
-----------------------------------------------
*/

.weekly-deal-section {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.weekly-deal-section .grid {
    grid-column-gap: 80px;
}

.weekly-deal-section .deal-inner {
    padding: 120px 150px;
    border: 7px solid var(--primary-color);
}

.weekly-deal-section .deal-image {
    border: 7px solid var(--primary-color);
    padding: 10px;
    height: calc(100% - 84px);
}

.weekly-deal-section .deal-image figure {
    overflow: hidden;
    height: 100%;
}

.weekly-deal-section h3 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.weekly-deal-section h4 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.weekly-deal-section p.price {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}


/* 
-----------------------------------------------
    SECTION: GALLERY @ Frontpage
-----------------------------------------------
*/

.gallery-section {
    background-color: white;
    color: var(--secondary-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.gallery-section .bordered-grid {
    border-color: var(--secondary-color);
}

.gallery-section .border-button {
    background-color: var(--secondary-color);
}

.gallery-section h2 {
    margin-bottom: 30px;
}

.gallery-section .gallery-columns-3 {
    display: grid;
    border: 7px solid var(--secondary-color);
    padding: 15px;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}


/* 
-----------------------------------------------
    SUBPAGE GENERAL
-----------------------------------------------
*/

body:not(.home) {
    background-color: var(--primary-color);
}

h1.page-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    color: var(--secondary-color);
    margin-top: 100px;
}


/* 
-----------------------------------------------
    PAGE: EVENTS
-----------------------------------------------
*/

.page-info {
    max-width: 738px;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
    text-align: center;
}

.filter {
    width: 100%;
    background-color: white;
    color: black;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
}

.events {
    color: #FFF;
}