/* 
-----------------------------------------------
    COLORS
-----------------------------------------------
*/

:root {
    --primary-color: #008058;
    --secondary-color: #080808;
    --gray-background: #b9b9b9;
}


/* 
-----------------------------------------------
    RESET BROWSER STYLE
-----------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
-----------------------------------------------
    GRID / LAYOUT
-----------------------------------------------
*/

.container {
    width: 100%;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 100%;
}

.grid {
    display: grid;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

p+p {
    margin-top: 40px;
}


/* 
-----------------------------------------------
    REPEATABLE ELEMENTS
-----------------------------------------------
*/

a {
    color: inherit;
    text-decoration: none;
}


/* 
-----------------------------------------------
    HEADER
-----------------------------------------------
*/


/* Search */


/* Social Media */


/* 
-----------------------------------------------
    FOOTER
-----------------------------------------------
*/